<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- https://docs.jboss.org/hibernate/orm/3.3/reference/ko-KR/html/session-configuration.html#configuration-xmlconfig -->
<hibernate-configuration>
    <session-factory>
	
		<!-- DataSource 설정 -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.100.10/jpa_test</property>
        
        <property name="hibernate.connection.username">jpa_test</property>
        <property name="hibernate.connection.password">jpa_test</property> 
        <property name="hibernate.connection.pool_size">1</property>
        
        <!-- 하이버네이트 프로퍼티 설정 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2.ddl.auto">update</property>


        <!-- 엔티티 클래스 등록 -->
        <mapping class="org.fp024.jpaquick.persistence.jdbc.EmployeeVO"/>
    </session-factory>

</hibernate-configuration>
